.blogHeader{
	text-align:"left";
}

.blogText{
	margin-left: 40px;
}

body{
	background-image:url('../img/background.png');
}
#blogItemHeader{
	text-align: center;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#eeeeee;
}