.blogHeader{
	text-align:"left";
}

.jumbotron{
   background-image:url('../img/topback.jpg');
}

.blogText{
	margin-left: 40px;
}

body{
	background-image:url('../img/background.png');
}
.blogTitle{
	text-align: center;
   font-family: 'Yesteryear', cursive;
   font-size: 100px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#eeeeee;
}

#footerId:hover{
	text-decoration: none;
}