body{
	background-image:url('../img/background.png');
}

.jumbotron{
	background-image:url('../img/topback.jpg');
}

.blogHead{
	text-align: center;
	font-family: 'Yesteryear', cursive;
	font-size: 100px;
}
.dateText{
	color:#b94a48;
}

a:hover{
	text-decoration: none;
}

.dateText:hover{
	color:#732e2d;
}